body {
    font-family:monospace;
    background-color: rgb(41, 41, 41);
    color: white;
    font-size: 10px;
    margin: 0;
}

nav {
    background-color: rgb(43, 34, 173);
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    position: sticky;
    top: 0px;
}

nav a {
    padding: 10px 2vw;
    transition: background-color .5s, padding .5s;
    color: white; 
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(209, 124, 209);
    padding: 10px 3vw;
}

#home {
    width: 100%;
    padding-bottom: 100px;
    background-image: url(../img/css-project/space2.jpg);
    background-position: center;
    background-size: cover;
}

#title {
    margin: 100px 20px 0px 20px;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.39);
}

#subtitle {
    margin: 5px 20px 0px 20px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.39);
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.concert {
    display: grid;
    grid-template-columns: 3fr 4fr;
    padding: 0px;
    column-gap: 20px;
    font-size: 10px;
    transition: font-size .5s;
    border-top: solid black 3px;
}

.concertDescription {
    background-color: rgb(43, 34, 173);
    padding: 0 20px;
}

.concertHeader {
    padding: 0 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .625em;
    background-color: rgb(41, 41, 41);
}

.concertHeader h3 {
    font-size: 30px;
    margin-bottom: 0;
}

.concertDescription {
    font-size: .625em;
    overflow: hidden;
    padding: 10px 20px;
    background-color: rgb(43, 34, 173);
}

.descriptionHeader {
    font-size: 1em;
}

@media screen and (width>750px) {
    .concert:hover {
        font-size: 22px;
    }   
}

@media screen and (width<=750px) {
    #home {
        text-align: center;
    }
    
    .concert {
        display: flex;
        flex-direction: column;
        font-size: 22px;
    }

    .concertHeader {
        padding-bottom: 20px;
    }
}