@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Doto:wght@100..900&family=Geostar&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+80s+Fade&family=Train+One&display=swap');

body {
    font-family: Quantico;
    background-color: rgb(41, 41, 41);
    color: white;
    font-size: 10px;
    margin: 0;
}

nav {
    background-color: rgb(43, 34, 173);
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    position: sticky;
    top: 0px;
}

nav a {
    padding: 10px 2vw;
    transition: background-color .5s, padding .5s;
    color: white; 
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(209, 124, 209);
    padding: 10px 3vw;
}

#home {
    width: 100%;
    padding-bottom: 100px;
    background-image: url(../img/css-project/space2.jpg);
    background-position: center;
    background-size: cover;
    font-family: Geostar;
}

#title {
    margin: 100px 20px 0px 20px;
    padding: 5px 10px;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.39);
    display: inline-block;
}

#subtitle {
    margin: 5px 20px 0px 20px;
    padding: 5px 10px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.39);
    display: inline-block;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.concert {
    display: grid;
    grid-template-columns: 3fr 4fr;
    padding: 0px;
    column-gap: 20px;
    font-size: 10px;
    transition: font-size .5s;
    border-top: solid black 3px;
}

.concertDescription {
    padding: 0 20px;
}

#concert1 .concertDescription {
    background-image: url('../img/css-project/Concert1');
    background-position: center;
    background-size: cover;
}

#concert2 .concertDescription {
    background-image: url('../img/css-project/Concert2');
    background-position: center;
    background-size: cover;
}

#concert3 .concertDescription {
    background-image: url('../img/css-project/Concert3.png');
    background-position: center;
    background-size: cover;
}

#concert4 .concertDescription {
    background-image: url('../img/css-project/Concert4.png');
    background-position: center;
    background-size: cover;
}

#concert5 .concertDescription {
    background-image: url('../img/css-project/Concert5.png');
    background-position: center;
    background-size: cover;
}

#concert6 .concertDescription {
    background-image: url('../img/css-project/Concert6.png');
    background-position: center;
    background-size: cover;
}

#concert7 .concertDescription {
    background-image: url('../img/css-project/Concert7.png');
    background-position: center;
    background-size: cover;
}

#concert8 .concertDescription {
    background-image: url('../img/css-project/Concert8.png');
    background-position: center;
    background-size: cover;
}

#concert9 .concertDescription {
    background-image: url('../img/css-project/Concert9.png');
    background-position: center;
    background-size: cover;
}

#concert10 .concertDescription {
    background-image: url('../img/css-project/Concert10.png');
    background-position: center;
    background-size: cover;
}

.concertHeader {
    padding: 0 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .625em;
    background-color: rgb(41, 41, 41);
}

.concertHeader h3 {
    font-size: 30px;
    margin-bottom: 0;
}

.concertDescription {
    font-size: .625em;
    overflow: hidden;
}

.concertDescription p {
    padding: 10px 20px;
    background-color: rgb(43, 34, 173);
    opacity: 0;
    transition: opacity .5s;
}

.descriptionHeader {
    font-size: 1em;
}

footer {
    background-image: url(../img/css-project/space2.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 3fr 4fr;
    column-gap: 20px;
    font-size: 16px;
    border-top: 5px solid black;
}

#copyright {
    align-content: center;
    background-color: rgba(0, 0, 0, 0.39);
    margin: 20px 0px 20px 20px;
    text-align: center;
}

#contactUs {
    align-content: center;
    background-color: rgba(0, 0, 0, 0.39);
    line-height: .5;
    margin: 20px;
    padding: 0px 20px;
}

#contactUs h3 {
    line-height: 1.25;
}

@media screen and (width>750px) {
    .concert:hover {
        font-size: 22px;

        .concertDescription p {
            opacity: 100;
        }
    }
}

@media screen and (width<=750px) {
    #home {
        text-align: center;
    }
    
    .concert {
        display: flex;
        flex-direction: column;
        font-size: 22px;
    }

    .concertHeader {
        padding-bottom: 20px;
    }
}