@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Henny Penny';
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

h1 {
    line-height: 0;
    padding-top: 30px;
}

#numberBox {
    border: 3px black solid;
    width: 200px;
    height: 40px;
    font-size: 25px;
    margin: 10px 0;
}

#maze {
    width: 510px;
    height: 510px;
}

#mazeCells {
    border: 5px black solid;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
}

#buttons {
    width: 500px;
    height: 500px;
    padding: 5px;
    position: fixed;
}

.numButton {
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
}

/* 
    Keeping this here in case I want to try and make the walls clickable again
    .cell {
    border-right: 2px rgb(196, 196, 196) dotted;
    border-bottom: 2px rgb(196, 196, 196) dotted;
} */

.rightWall {
    border-right: 3px black solid;
}

.bottomWall {
    border-bottom: 3px black solid;
}

#resetEnterButtons {
    display: flex;
    flex-direction: column;
}

#resetButton {
    border: 3px black solid;
    width: 200px;
    margin-top: 10px;
    align-content: center;
    font-size: 25px;
    transition: background-color .25s;
    flex-shrink: 1;
}

#resetButton:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#enterButton {
    border: 3px black solid;
    width: 200px;
    margin-top: 10px;
    align-content: center;
    font-size: 25px;
    transition: background-color .25s;
    flex-shrink: 1;
    display: none;
}

#enterButton:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#enteredOverlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.90);
    display: none;
}

#enteredNumber {
    position: fixed;
    background-color: rgb(255, 255, 255);
    border: 2px black solid;
    box-shadow: 0px 0px 10px rgb(85, 85, 85);
    width: 550px;
    height: 175px;
    top: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#confirmBtns {
    display: flex;
}

h2 {
    margin: 0;
    margin-top: 20px;
}

.confirmBtn {
    width: 100px;
    height: 30px;
    margin: 0px 30px;
    border: 2px black solid;
    transition: background-color .25s;
    align-content: center;
}

.confirmBtn:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

/* Make the stuff shrink when the screen is too short for it to fit bc my mac is being dumb now*/
@media screen and (height < 780px) {
    #resetEnterButtons {
        flex-direction: row;
        gap: 20px;
    }
}