@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Henny Penny';
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

h1 {
    line-height: 0;
    padding-top: 30px;
}

#numberBox {
    border: 3px black solid;
    width: 200px;
    height: 40px;
    font-size: 25px;
    margin: 16px 0;
}

#maze {
    width: 510px;
    height: 510px;
}

#mazeCells {
    border: 5px black solid;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
}

#buttons {
    width: 510px;
    height: 510px;
    padding: 10px;
    position: fixed;
}

.numButton {
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
}

/* 
    Keeping this here in case I want to try and make the walls clickable again
    .cell {
    border-right: 2px rgb(196, 196, 196) dotted;
    border-bottom: 2px rgb(196, 196, 196) dotted;
} */

.rightWall {
    border-right: 3px black solid;
}

.bottomWall {
    border-bottom: 3px black solid;
}

#resetButton {
    border: 3px black solid;
    width: 200px;
    height: 40px;
    margin-top: 25px;
    align-content: center;
    font-size: 25px;
    transition: background-color .25s;
}

#resetButton:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#enterButton {
    border: 3px black solid;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    align-content: center;
    font-size: 25px;
    transition: background-color .25s;
}

#enterButton:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

